body {
  font-family: cursive;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#header-nav {
  background-color: #777;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 0;
  height: 80px;
}
.navbar-brand {
  padding-top: 0px;
  padding-left: 50px;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand h1 {
  font-weight: bold;
  font-size: 2em;
  color: #000;
}
/*#nav-list {
  background-color: #fff;
}
#nav-list a {
  color: #000;
  text-align: center;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #777;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}*/
#menu-categories-title {
  text-align: center;
  font-size: 2em;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}
#chicken, #beef, #sushi {
  background-color: #777;
  padding: 1px 20px 5px 20px;
  margin: 30px 0;
}
#main-content h3 {
  text-align: center;
  font-size: 1.4em;
  color: #000;
  font-weight: bold;
}
#main-content p {
  color: #000;
}
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
  
}
@media (max-width: 767px) {
 .navbar-brand {
  padding-left: 70px;
 }
 #chicken, #beef, #sushi {
  margin-left: 100px;
  margin-right: 100px;
 }
 #menu-categories-title {
  margin-top: 120px;
 }
 #nav-list {
  background-color: #777;
}
#nav-list a {
  color: #000;
  text-align: center;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #fff;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
}